@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --heading-font: "Roboto Slab";
  --paragraph-font: "Source Sans 3", Helvetica, sans-serif;
  --primary-color: #E2D4B7;
  --secondary-color: #9C9583;
  --accent-color: #B0BBBF;
  --accent2-color: #CADBC8;
  --dark-grey: #303030;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font);
}
body {
  margin: 0;
  font-family: var(--paragraph-font);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: block;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
}
nav a {
  display: block;
  flex: 1 1 100%;
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
}

nav a:hover {
  background-color: var(--accent2-color);
}

.logo {
  line-height: 60px;
  width: 100%;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--heading-font);
  padding-left: 5%;
  gap: 2vw;
}
.logo img {
  width: 100px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: black;
}
.hero {
  position: relative;
}
.hero img{
  width: 100%;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.welcome {
  text-align: center;
}

.recipe-detail {
  margin: 1rem auto;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recipe-detail h3 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
}

.recipe-ingredients {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 90%;
}

.recipe-instructions {
  width: 90%;
}

.recipe-instructions a {
  text-align: center;
}

.recipe-detail img {
  height: 300px;
  box-shadow: 0 0 30px #777;
  margin: .5rem;
}

.recipe-detail__add {
  width: 100%;
  text-align: right;
}

#favorite {
  background-color: rgb(252, 252, 157);
  padding: .5vw .5vw .5vw .5vw;
  border: thin rgb(212, 170, 103);
  border-radius: 10px;
  margin-right: 5%;
}

.recipeList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: .5rem;
  align-items: center;
  margin-bottom: 3rem;
}

.recipeList h3 {
  width: 100%;
}

.recipeList article {
  height: 250px;
  margin: .5rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1rem;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipeList h4 {
  color: navy;
  font-size: smaller;
}


.recipeList img {
  width: auto;
  height: 200px;
  box-shadow: 0 0 30px #777;
  margin: .5rem;
}

.recipeMessage {
  margin-left: 1rem;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em;
  background-color: var(--primary-color);
}

.selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1rem;
  gap: 2vw;
}

.selector div{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.selector select {
  width: 80%;
  height: 2rem;
  text-align: center;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: 0 auto;
  }
}

footer {
  padding: 1em;
}
